body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: URL("../background.webp");
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("background.webp");  i don'know why i couldn't set a background with this method, i tried on empty projects, i watched tutorials and i did everything as instructed in the tutorials, is it my pc?*/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  margin-bottom: 20px;
}

.recipe-info,
.recipe-image,
.ingredients {
  width: 35%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 50%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.instructions {
  width: 100%;
  max-width: 900px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  margin-top: 0;
}

ol {
  padding-left: 20px;
}

@media (max-width: 992px) {
  .recipe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-info,
  .ingredients {
    width: 100%;
    margin-bottom: 20px;
  }

  .recipe-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .recipe-image img {
    width: 100%;
    padding: 0px;
    border: 0px;
  }

  ol {
    padding-left: 6px;
  }
}